<!-- templates/header.html -->
<div class="header-container">
    <header>
        <nav>
            <ul id="nav-menu">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#stack">Stack</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="nav-tracker"></div>
        </nav>
    </header>
</div>